body {
    background-color: #2D9596;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
