#main {
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
    margin: auto;
}

h1 {
    font-size: calc(1rem + 1vw);
}

p {
    font-size: calc(1rem + 0vw);
}
